.todos {
  position: fixed;
  left: 0;
  right: 0;
  top: 2.5rem;
  width: 100%;
  bottom: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-item {
  background-color: white;
  height: 3.5rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  position: relative;
  border-bottom: 1px solid rgb(220, 220, 220);
  border-radius: 0.5rem;
}

.todo-item {
  margin-top: 1.2rem;
}

.todo-item:last-child {
  margin-bottom: 1.2rem;
}

.todo-title {
  font-size: 1rem;
}

.todo-date {
  font-size: 0.8rem;
  color: var(--gray);
}

.important {
  height: 3.5rem;
  width: 0.6rem;
  background-color: rgb(0, 149, 246);
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.todo-complete-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid rgb(0, 149, 246);
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-complete-button.complete {
  font-size: 1.8rem;
  background-color: rgb(0, 149, 246);
  color: white;
}
